<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
div {
  position: relative;
}
.float {
  float: left;
  margin: 0 8px;
}
.clear {
  clear: both;
}
td {
  padding: 4px 0
}
a {
  color: #d78548;
}
  </style>
</head>
<body>
  <div class="float"><img src="/assets/booker/logo.png" alt="訂吧" style="width: 150px;"></div>
  <div class="float" style="font-size: 20px; font-weight: 700; top: 97px;">訂位不打烊，你我都是VIP</div>
  <div class="float" style="text-align:center; top: 66px">
    只要輸入用餐日期、<br>
    時間、人數、手機號碼，<br>
    就可輕鬆擁有專屬你的座位。
  </div>
  <div class="clear" style="border-top: 1px solid #000000"></div>
    <h2 style="font-size: 20px; font-weight: 7000">訂吧通知：您的朋友邀請您一起用餐！</h2>
      Hello, 您的朋友“USER_NAME”<br>
      邀請您在“RES_NAME”的訂位已確認，<br>
      詳細資料如以下。
      <table style="border-top: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD; margin: 20px 0">
        <tr>
          <td>餐廳：</td>
          <td></td>
        </tr>
        <tr>
          <td>名字：</td>
          <td></td>
        </tr>
        <tr>
          <td>Ｍail：</td>
          <td></td>
        </tr>
        <tr>
          <td>電話：</td>
          <td></td>
        </tr>
        <tr>
          <td>人數：</td>
          <td></td>
        </tr>
        <tr>
          <td>時間：</td>
          <td></td>
        </tr>
        <tr>
          <td>備註：</td>
          <td></td>
        </tr>
        <tr>
          <td>地址</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">
            <a href="https://maps.google.com/maps?q=捷運忠孝敦化站&hl=zh-TW&ie=UTF8&z=17" target="_blank">
              <img src="//maps.googleapis.com/maps/api/staticmap?markers=|捷運忠孝敦化站&zoom=16&size=500x300&sensor=false" alt="map">
            </a>
          </td>
        </tr>
      </table>

    誠摯的謝謝您<br>
    你的CoDream團隊<br>
    --<br><br>
    CoDream團隊堅持人人都應該平等，你我都是VIP，餐廳不需要購買或支付訂吧Dingba的費用。<br>
    目前訂吧Dingba尚在Beta版本，之後會修正爲更加穩定並無錯誤產生的Stable版本，唯一不變的是訂吧Dingba將永遠是免費使用的平台。<br>
    <a href="" target="_blank">Dingba Facebook粉絲頁</a>、<a href="" target="_blank">Dingba 部落格</a>、<a href="" target="_blank">Dingba Google+</a><br>
</body>
</html>


