<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
div {
  position: relative;
}
.float {
  float: left;
  margin: 0 8px;
}
.clear {
  clear: both;
}
td {
  padding: 4px;
}
a {
  color: #d78548;
}
  </style>
</head>
<body>
  <div class="float"><img src="/assets/booker/logo.png" alt="訂吧" style="width: 150px;"></div>
  <div class="float" style="font-size: 20px; font-weight: 700; top: 97px;">訂位不打烊，你我都是VIP</div>
  <div class="float" style="text-align:center;top: 66px">
    Hello “USER_NAME”<br>
    您在“RES_NAME”的訂位已取消。
  </div>
  <div class="clear" style="border-top: 1px solid #000000"></div>
    <h2 style="font-size: 20px; font-weight: 7000">訂吧通知：您的訂位成功！</h2>
      Hello USER_NAME<br>
      您在“RES_NAME”的訂位已確認，詳細資料如以下。
      <table style="border-top: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD; margin: 20px 0">
        <tr>
          <td>名字：</td>
          <td></td>
        </tr>
        <tr>
          <td>Ｍail：</td>
          <td></td>
        </tr>
        <tr>
          <td>電話：</td>
          <td></td>
        </tr>
        <tr>
          <td>人數：</td>
          <td></td>
        </tr>
        <tr>
          <td>時間：</td>
          <td></td>
        </tr>
        <tr>
          <td>備註：</td>
          <td></td>
        </tr>
      </table>
        若您要在相同餐廳進行新的訂位，請按下重新訂位連結。<br>
        歡迎您再次使用訂吧。
        <a href="" style="background-color: #db301c;border: 1px solid #BEBEBE;color: #FFFFFF;display: block;line-height: 30px;text-align: center;text-decoration: none;width: 80px;">重新訂位</a>
<br>
    誠摯的謝謝您<br>
    你的CoDream團隊<br>
    --<br><br>
    CoDream團隊堅持人人都應該平等，你我都是VIP，餐廳不需要購買或支付訂吧Dingba的費用。<br>
    目前訂吧Dingba尚在Beta版本，之後會修正爲更加穩定並無錯誤產生的Stable版本，唯一不變的是訂吧Dingba將永遠是免費使用的平台。<br>
    <a href="" target="_blank">Dingba Facebook粉絲頁</a>、<a href="" target="_blank">Dingba 部落格</a>、<a href="" target="_blank">Dingba Google+</a><br>
</body>
</html>