<div style="background-color: rgb(242,242,242); padding: 20px 20px 20px 20px;border-radius: 15px 15px 15px 15px">

  <div style="font-size: 25px; text-align: center"><img src="/assets/common/about_codream.png"></div>

  <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 30px;margin-top: 20px;text-indent:35px;padding-right: 30px;padding-left: 30px">
    訂吧，永遠的免費使用平台
    <p><p>
    2013年8月CoDream誕生了，我們是一群擁有各自創業經驗的冒險家，都有過夢想、有過努力、有過現實、也有過絕望…但始終無法放棄做喜歡的事及最初的夢想。
    <p><p>
    CoDream跟財團、政治、後台、人脈沒有任何關係，因此必須更努力地的讓大家看見我們的存在。這幾個月裡，CoDream撰寫了open source的線上打卡(Hi Works)，
    並建置訂吧：買賣雙方都不需要付費的餐廳網路訂位平台，為的是強調網路資源應該是共享並免費的。
    <p><p>
    餐廳網路訂位起源於CoDream團隊幾乎各各都是嘴饞鬼，但每次打電話到餐廳訂位都覺得很不便利。
    因此突發奇想，若是每間餐廳都能有網路訂位系統，不僅能讓消費者避免上班時間冒險訂位，
    也能讓餐廳有效分配人力與精準採購食材，而櫃檯與接待人員也不會手忙腳亂。
    一番研究後，CoDream團隊發現全球都有類似的訂位平台，功能大同小異，但都有個共通點–付費。開放式網路平台要向賣家收取費用，
    讓CoDream團隊百思不解，因而構思創造像Facebook和Google一樣為了讓大家方便使用的訂位平台。
    <p><p>
    目前訂吧Dingba尚在Beta版本，之後會修正爲更加穩定並無錯誤產生的Stable版本。藉由專案的研討和技術的開發，讓團隊的分工與默契更合拍。
    我們堅信台灣將由CoDream團隊所規劃建置完成媲美甚至超越Facebook的新形態社群網路誕生。這個網路核心，將會是你我心中的夢想與珍藏，
    CoDream與你相約一年半後，一同用夢想燦爛照亮整個宇宙。
  </div>
</div>