
<div style="background-color: rgb(242,242,242); padding: 20px 20px 20px 20px;border-radius: 15px 15px 15px 15px">
  <div style="font-size: 25px;text-align: center"><img src="/assets/common/dingba_clause.png"></div>
  <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;padding-right: 30px;padding-left: 30px">
    訂吧Dingba，係依據本服務條款提供 訂吧（http://dingba.codream.tw）服務(以下簡稱「本服務」)。
    當您使用本服務時，即表示您已閱讀、瞭解並同意接受本服務條款之所有內容。
    此外，當您使用 訂吧Dingba 的特定服務時，可能會依據該特定服務之性質，而須遵守 訂吧Dingba 所另行公告之服務條款或相關規定。
  </div>

  <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;padding-right: 30px;padding-left: 30px">
    此另行公告之服務條款或相關規定（包括但不限於反垃圾郵件政策）亦均併入屬於本服務條款之一部分。
    訂吧Dingba有權於任何時間修改或變更本服務條款之內容，建議您隨時注意該等修改或變更。
    您於任何修改或變更後繼續使用本服務，視為您已閱讀、瞭解並同意接受該等修改或變更。
    如果您不同意本服務條款的內容，或者您所屬的國家或地域排除本服務條款內容之全部或部份時，您應立即停止使用本服務。
  </div>

  <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;padding-right: 30px;padding-left: 30px">
    若您為未滿二十歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本服務條款之所有內容及其後修改變更後，方得使用或繼續使用本服務。
    當您使用或繼續使用本服務時，即推定您的家長（或監護人）已閱讀、瞭解並同意接受本服務條款之所有內容及其後修改變更。
  </div>

  <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;padding-right: 30px;padding-left: 30px">
    <h4>網站使用規則</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      有關現有或將來之各項使用均受本服務條款之規範。使用者在使用過程中，必須遵循以下原則：<br>
      <div style="margin-left: 35px;text-indent:0px">
        (1) 遵守當地有關的法律和法規；<br>
        (2) 不得為任何非法目的而使用；<br>
        (3) 遵守所有與網路服務有關的網路協定、規定；<br>
        (4) 不得利用本網站服務系統進行任何不利於本網站的行為；<br>
        (5) 如發現任何非法使用情況，應立即通告本網站。<br>
      </div>
    </div>

    <h4>網站服務暫停、或終止</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      本網站於下列情形之一時，有權隨時暫停、中斷或終止服務之全部或部份，對於使用者不負擔任何賠償責任：<br>
      <div style="margin-left: 35px;text-indent:0px">
        (1) 對於本網站相關系統設備進行遷移、更換或升級維護時。<br>
        (2) 因不可歸責於本網站所造成服務停止或中斷。<br>
        (3) 因不可抗力所造成服務停止或中斷。<br>
      </div>
    </div>

    <h4>免責聲明</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      本網站不提供任何明示或默示的擔保。本網站不保證以下事項：<br>
      <div style="margin-left: 35px;text-indent:0px">
        (1) 本網站將符合您的需求；<br>
        (2) 本網站不受干擾、及時提供、安全可靠或免於出錯；<br>
        (3) 您經由本網站取得之任何服務、資訊或其他資料將符合您的期望；<br>
        (4) 您經由本網站取得之任何資訊與資料而所進行之任何投資理財行為，能夠獲利。<br>
        (5) 您自本網站或經由本網站取得之建議和資訊，無論其為書面或口頭，均不構成本網站之保證。<br>
      </div>
    </div>

    <h4>智慧財產權</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      訂吧Dingba上所使用或提供之資訊及內容（包括但不限於文字、說明、圖畫、圖片、圖形、檔案、頁面設計、網站規劃與安排等）之專利權、著作權、商標權、營業秘密、專門技術及其他智慧財產權均屬本網站或其他權利人所有，
      非經權利人事先書面授權同意，使用者不得重製、公開傳播、公開播送、公開上映、改作、編輯、出租、散布、進行還原工程、解編、反向組譯、或其他方式之使用，
      如有違反，除應自行負法律責任外，如因而對本網站造成損害或損失，本網站有權向該使用者請求損害賠償。
    </div>

    <h4>個人資料的利用</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      訂吧Dingba 網站上所取得的個人資料，僅供內部依照所說明之目的和範圍使用。利示如下:<br>
      <div style="margin-left: 35px;text-indent:0px">
        (1) 以會員身分使用 訂吧Dingba 所提供之各項服務時，於頁面中自動顯示會員資訊。<br>
        (2) 宣傳廣告或行銷等透過電子郵件、郵件、電話等提供與服務有關之資訊。<br>
        (3) 將會員所瀏覽之內容或廣告，依會員個人屬性或購買記錄、訂吧Dingba網站之瀏覽記錄等項目，
        進行個人化作業、會員使用服務之分析、新服務之開發或既有服務之改善等。<br>
        (4) 針對民調、活動、留言板等蒐集之意見，或其他服務關連事項，與會員進行聯繫。<br>
        (5) 訂吧Dingba會主動、或依會員之訂閱，寄送定時或不定時之各式電子報給會員，若會員確定不想要收到相關電子報，可以寄信到客服信箱要求取消訂閱: service@codream.tw。<br>
        (6) 針對會員透過電子郵件、郵件、傳真、電話或其他任何直接間接聯絡方式向codream所提出之詢問進行回覆。<br>
        (7) 提供個別服務時，亦可能於上述規定之目的以外，利用個人資料。此時將再該個別服務之網頁載明其要旨。 <br>
      </div>
    </div>

    <h4>其他規定</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      <div style="margin-left: 35px;text-indent:0px">
        (1) 使用者條款的其餘條款仍應有效並且有約束力。<br>
        (2) 本條款中的標題僅為方便而設，在解釋本條款時應被忽略。
      </div>
    </div>
  </div>
</div>