
<div class="row" style="margin: 0px 0;text-align: center;vertical-align : middle;height: 400px">

  <a href="/sessions/restaurant_new">
    <div style="float:left; width: 300px; height: auto;margin-left: 150px">
    <img src="/assets/common/rae_chef.png" style="position: relative;z-index: 1;width: 160px">

    <div style="border:#D6D6D6 2px solid; border-radius:15px ; height: 200px; background-color: rgb(242,241,239);position: relative;top: -40px;z-index: 0">
      <label style="font-size: 23px; margin-top: 70px; letter-spacing: 1px">我是餐廳經營者</label>
      <label style="font-size: 40px; margin-top: 40px; letter-spacing: 2px; color: rgb(0,0,0)">登入餐廳</label>
    </div>

    <div style="font-size: 20px;letter-spacing: 1px; line-height: 30px;margin-top: -30px;color: rgb(153,153,153)">
      登錄餐廳基本資料，<br>
      簡易勾選空桌時間與日期，<br>
      網路處理訂位真方便。
    </div>
    </div>
  </a>

  <a href="/sessions/booker_new">
    <div style="float:left; width: 300px; height: 200px;margin-left: 50px">
    <img src="/assets/common/rae_guest.png" style="position: relative;z-index: 1;width: 161px">

    <div style="border:#D6D6D6 2px solid; border-radius:15px ; height: 200px; background-color: rgb(242,241,239);position: relative;top: -40px;z-index: 0">
      <label style="font-size: 23px; margin-top: 70px; letter-spacing: 1px">我是消費者</label>
      <label style="font-size: 40px; margin-top: 40px; letter-spacing: 2px; color: rgb(0,0,0)">餐廳 訂位</label>
    </div>

    <div style="font-size: 20px;letter-spacing: 1px; line-height: 30px;margin-top: -30px;color: rgb(153,153,153)">
      只要輸入用餐日期、<br>
      時間、人數、手機號碼，<br>
      就可輕鬆擁有專屬你的座位。
    </div>
    </div>
  </a>
</div>





<%-# link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

<%-# link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

<%-# link_to "sign in with yahoo", user_omniauth_authorize_path(:open_id, :openid_url => "http://yahoo.com") %>
