
<div style="background-color: rgb(242,242,242); padding: 20px 20px 20px 20px;border-radius: 15px 15px 15px 15px">
  <div style="font-size: 25px;text-align: center"><img src="/assets/common/q_and_a.png"></div>
  <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;padding-right: 30px;padding-left: 30px">
    謝謝您瀏覽訂吧Dingba的問與答說明，
    若下列說明並沒有解決到您的疑問，我們非常歡迎您在此頁面表格裡留下問題，
    我們會儘快的回覆您，謝謝。<br>
  </div>

  <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;padding-right: 30px;padding-left: 30px">
    <h4>餐廳業者</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：訂吧真的是免費的平台嗎？為什麼不收費？<br>
      <div style="margin-left: 65px;text-indent:0px">
        是的，不用懷疑，訂吧Dingba是由CoDream團隊研發撰寫的免費平台。<br>
        CoDream團隊認為網路平台資源應該是共享並免費的。<br>
        就像Facebook和Google等服務一樣，是為了讓大家方便使用而創造的平台，<br>
        餐廳不需要額外購買或支付平台的費用。<br>
        目前訂吧Dingba尚在Beta版本，<br>
        之後會修正爲更加穩定並無錯誤產生的Stable版本，<br>
        唯一不變的是 訂吧Dingba 將永遠是免費使用的平台。<br>
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：我不是整天都使用電腦或手機，這樣如何管理確認訂位呢？<br>
      <div style="margin-left: 65px;text-indent:0px">
        別擔心，訂吧Dingba有貼心的為餐廳業者考量到這問題。<br>
        因此提供了兩種最晚接受訂位的時間點。<br>
        一種為開放預約幾小時之前的時間；另一種為開放預約至前一天的幾點，<br>
        您可依照自己彈性的時間來選擇設定。此項設定在“供位時間”選項裡。<br>
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：我如何知道有新的訂位呢？平台會怎麼通知我？<br>
      <div style="margin-left: 65px;text-indent:0px">
        訂吧Dingba平台會在客人訂位完成後，同時發信給訂位者與餐廳兩端，<br>
        讓雙方都有訂位記錄；相對地，若客人取消訂位，雙方也會收到取消的E-Mail。<br>
        餐廳業者預設收到E-Mail的設定，在“基本資料”裡“餐廳資料”中的“供位E-Mail”。<br>
        若您要設定多組信箱，請在每個聯絡人信箱後加上分號(；)。<br>
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：供位時間裡的“開放總供位人數”、“單次供位人數”和“每15分鐘總供位人數”分別是什麼？要如何設定？<br>
      <div style="margin-left: 65px;text-indent:0px">
        開放總供位人數–本時段允許的網路訂位總人數。<br>
        單次供位人數–本時段每桌(含併桌)能提供之最大座位數。(單次供位人數不得大於每15分鐘總供位人數)<br>
        每15分鐘總供位人數–為保持良好的服務品質避免餐廳在短時間接待大量客人，建議每15分鐘內的總訂位客人不超過一定的數量。<br>
        餐廳亦可選擇直接設定開放總供位人數=每15分鐘總供位人數，再依現場桌況設定單次供位人數，此時系統只會提供單一時段人數限制。<br>

        舉例：若設定晚餐時段(6:30PM~9:00PM)之總供位人數為30位，可設定“每15分鐘內的總訂位人數”不超過20人。上述前提下，若“單次供位人數”設定為6人，本系統將依照各時間點訂位人數的多寡，自動產生出消費者可選擇訂位的時間。當15分鐘內已接受1桌6位、1桌5位、2桌3位(共17位)時，系統會自動判斷時段內還可以開放3人以內之訂位。
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：專屬日曆裡“月設定管理”和“日瀏覽修改”兩者的區別為何？<br>
      <div style="margin-left: 65px;text-indent:0px">
        訂吧Dingba平台設立了兩種日曆瀏覽模式，分為月設定管理與日瀏覽修改。<br>
        月瀏覽模式下可點選個別日期進行“修改供位設定”、“查看/修改訂位資料”、“取消訂位”等設定，“修改供位設定”的內容會自動在“供位時間”裡生成一個“臨時設定”的資料夾，名稱會以日期命名(ex.20131128)將會置於最優先順序。<br>
        日瀏覽模式下僅可操作“查看/修改訂位資料”、“取消訂位”兩種設定，若要更改單日“修改供位設定”需要到月瀏覽模式下操作。<br>
      </div>
    </div>

    <h4>訂位消費者</h4>
    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：為什麼要使用訂吧平台？有什麼優惠嗎？<br>
      <div style="margin-left: 65px;text-indent:0px">
        訂吧Dingba是由CoDream團隊研發撰寫的免費平台，餐廳不需要額外購買或支付平台的費用。<br>
        如此餐廳可將行銷的預算直接轉移到消費者身上，設定更實在的折扣，讓買賣雙方彼此受惠。<br>
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：是否要登入會員才能訂位？<br>
      <div style="margin-left: 65px;text-indent:0px">
        不用的，非會員也可以直接填寫資料完成網路訂位；<br>
        此外也可由Facebook與Gmail帳號登入。<br>
        若登入訂吧Dingba會員，可享維護訂位記錄與極速訂位等服務，<br>
        節省填寫訂位資料的時間，並可輕鬆回顧過往的訂位記錄與消費感想。<br>
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：怎麼確認訂位是否成功？<br>
      <div style="margin-left: 65px;text-indent:0px">
        當您確認訂位後，訂吧Dingba會寄出訂位確認通知信。<br>
        表示訂位成功，餐廳已收到訂位要求並保留位置。<br>
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：如何將訂位資訊分享給好友？<br>
      <div style="margin-left: 65px;text-indent:0px">
        當您完成訂位步驟後，會出現訂位成功的視窗。<br>
        此時可前往步驟2通知好友訂位資訊，<br>
        直接輸入好友的E-mail並以“；”作為區隔。或是當收到訂位確認信，再轉發給好友。<br>
      </div>
    </div>

    <div style="font-size: 16px;letter-spacing: 0.5px;line-height: 26px;margin-top: 20px;text-indent:35px;margin-bottom: 20px">
      Q：如何修改或取消訂位？<br>
      <div style="margin-left: 65px;text-indent:0px">
        您可直接在訂吧Dingba寄出的訂位確認信中，點選“取消訂位”，<br>
        餐廳即可收到您取消的訊息。<br>
        若您是訂吧Dingba會員，可直接在“我的訂吧”中“我的訂位記錄”中點選“修改資訊”。<br>
      </div>
    </div>

  </div>
</div>