
<div class="row">
  <div id="process" class="span12">
    <span id="step1_mark" name="res_step_span" class="now">步驟一 <span class="mark">&nbsp;編寫餐廳資訊&nbsp;</span></span>
    →
    <span id="step2_mark" name="res_step_span" >步驟二 <span class="mark">&nbsp;設定開放訂位時間&nbsp;</span></span>
    →
    <span id="step3_mark" name="res_step_span">步驟三 <span class="mark">&nbsp;專屬日曆產生&nbsp;</span></span>
  </div>
</div>