<div style="width: 17%" class="span3">
  <div id="sidebar" class="span10" name="left_sidebar">
    <a id="step1" name="step" href="/restaurant_manage/restaurant_info" class="now" style="font-size: 18px;letter-spacing: 1px">基本資料</a>

    <div>
      <div id="sub_choice">
        <a id="sub_res_info" class="now" href="/restaurant_manage/restaurant_info" style="font-size: 16px;letter-spacing: 1px">餐廳資料</a>
        <a id="sub_res_img" href="/restaurant_manage/restaurant_image" style="font-size: 16px;letter-spacing: 1px">圖片管理</a>
      </div>
    </div>

    <a id="step2" href="/restaurant_manage/supply_condition" style="font-size: 18px;letter-spacing: 1px">供位時間</a>
    <a id="step3" href="/calendar/restaurant_month" style="font-size: 18px;letter-spacing: 1px">專屬日曆</a>
    <div>
      <div id="sub_choice2" style="height: 0;border-width: 0">
        <a id="sub_res_month" href="/calendar/restaurant_month" class="now" style="font-size: 16px;letter-spacing: 1px">月設定管理</a>
        <a id="sub_res_day" href="/calendar/restaurant_day" style="font-size: 16px;letter-spacing: 1px">日瀏覽修改</a>
      </div>
    </div>

    <a id="step4" name="step" href="/restaurant_manage/query_books_by_date" style="font-size: 18px;letter-spacing: 1px">訂位明細</a>

    <a id="step5" name="step" href="/restaurant_manage/multi_restaurant" style="font-size: 18px;letter-spacing: 1px">切換餐廳</a>
  </div>
</div>