
DingBa Management

<ul>
  <li><%= link_to 'Restaurants List', action: 'adm_list_all', method: :get %></li>
  <li><%= link_to 'Booking List', action: 'adm_booking_list', method: :get %></li>
  <li><%= link_to 'Registration List', action: 'adm_registration', method: :get %></li>
</ul>



