
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
      div {
          position: relative;
      }
      a {
          color: #0000FF;
      }
  </style>
</head>
<body>
<!--<div style="display: block;margin-left: auto;margin-right: auto;width: 800px;border-radius: 15px;background-color:rgb(137,181,84);padding-top: 10px;padding-bottom: 5px;color:rgb(52,52,52) ">-->
<div style="display: block;margin-left: auto;margin-right: auto;width: 800px;border-radius: 15px;padding-top: 10px;padding-bottom: 5px; ">
  <div style="margin-left: 180px">
    <%= image_tag "rae_logo_guest.png", :style => "width: 220px;" %>
    <%= image_tag "slogan.png", :style => "width: 220px;" %>
    <!--<img src="<%# "#{@domain_clear}" "assets/common/rae_logo_guest.png" %>" style="width: 220px">-->
  </div>

  <!--<div style="margin-left: 30px;margin-bottom: 20px;background-color: rgb(235,235,235);width: 710px;padding: 10px 20px 10px 10px;border-radius: 15px;">-->
  <div style="margin-left: 30px;margin-bottom: 20px;width: 710px;padding: 10px 20px 10px 10px;border-radius: 15px;">
    <div style="font-size: 16px;letter-spacing: 1px;margin-bottom: 5px;line-height: 26px;margin-left: 30px">
      Hi, <%= @email %><br>
      <span style="margin-left: 2em">
        謝謝您註冊DingBa。<br><br>
        點擊下面啟用連結後，即可馬上使用DingBa服務喔!<br>
        <span style="color: blue">
          <%= link_to '啟用DingBa帳戶', confirmation_url(@resource, :confirmation_token => @token) %>
        </span>
      </span>
    </div>

    <div style="float: right;margin-right: 50px;letter-spacing: 1px;font-size: 16px;margin-bottom: 10px">
      <a href="http://codream.tw" target="_blank">CoDream Team</a>
    </div>

    <hr style="border: 1; width: 100%;color: rgb(55,55,55)">

    <div style="font-size: 16px;letter-spacing: 1px;text-align: center">
      訂吧 Dingba 永遠免費<br>
      由 CoDream 團隊提供<br>
      <a href="https://www.facebook.com/dingba8" target="_blank">Dingba Facebook粉絲頁</a>、
      <a href="http://blog.codream.tw/tagged/dingba" target="_blank">Dingba 部落格</a>
      <!--、<a href="" target="_blank">Dingba Google+</a><br>-->
    </div>
  </div>
</div>

</body>
</html>



