
<div class="row-fluid" id="about">
  <div class="container">
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6">
        <a href="/home/about_codream" target="_blank" style="font-size: 16px">關於我們</a>
        <a href="/home/clause" target="_blank" style="font-size: 16px">會員條款</a>
        <a href="/home/q_and_a" target="_blank" style="font-size: 16px">常見問與答</a>
      </div>
      <div class="span3"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        此訂位平台為免費資源，不收取任何費用，由CoDream團隊提供。
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid" id="copyright">
    <div class="span3"></div>
    <div class="span6">
      <div>2013 CoDream. All Rights Reserved.</div>
      <a href="https://www.facebook.com/dingba8" id="fb" target="_blank"></a>
      <a href="http://blog.codream.tw/tagged/dingba" id="blog" target="_blank"></a>
      <a href="mailto:cs.dingba@codream.tw" id="gp" target="_blank"></a>
      <!--<a href="" id='yt' target="_blank"></a>-->
    </div>
    <div class="span3"></div>
  </div>
</div>